

body{margin:0;
font-family: sans-serif;
font-size:14px;
background-color: orange;
}

#menu-wrapper ul{
	padding:0 ;
  list-style:none;
  
}
  
#hmenu > li{

display:inline-block;

}


#hmenu > li > a{
    display:block;
padding:10px 20px;
widht: 90px;


}

li ul{ 
   position:absolute;
display:none;


}

.sub-menu a{
       display:block;
      padding:10px 45px;
      widht: 130px;
	  

}


li:hover ul{
   display:block;
    border-radius: 10px;
}

#menu-wrapper,li ul{
   background:#333;
   
}

#hmenu{

   width:412px;
   margin: 0 auto;
   
   
}
  #hmenu a{
    color:#fff;
    text-decoration:none;
    font-weight:arial;
	
}


#hmenu li:hover{
  background:#a3cd39;
  text-shadow: 0 0 2px #000;
   //border-radius: 20px;
}
.main{
width:90%;
max-width:1000px;
margin:20px auto;

}

.slides{

width:60%;
border-radius: 20px;


}

.slides img{

width:100%;
border-radius: 20px;


}



.slidesjs-pagination{
background:#000;
list-style:none;
overflow:hidden;
margin:0 auto;

}

.slidesjs-pagination li {
float:left;

}
.slidesjs-pagination li a { 
display:block ;
padding:20px 20px;
color:#fff;
text-decoration:none;

}


.slidesjs-pagination li a:hover { 
background:#000;

}

.slides .active {
background:orange;
border-radius: 20px;
}

.slidesjs-navigation{
background:#000;
color:#fff;
text-decoration:underline;
display:inline-block;
padding:20px 20px;
float:right;

}
.footer {
	background:#000;
color:#fff;
//text-decoration:none;
//padding:10px 500px;
margin-top: 50px;
}

.col-md-5 {
    width: 41.66666667%;
  }
  
  
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 9px 7px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: blue;
  border-radius: 20px;
}


.badge:empty {
  display: none;
}


a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.bott{
    
    color: #fff;
}